.landing-background{
  background: url('/images/landing-background.jpg') no-repeat center center fixed;;
  background-size: cover;
  height: 600px;
}

.landing1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: #222629;
  font-size: 400%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.landing2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: #222629;
  font-size: 350%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.signup-background {
  background: url('https://www.thegreenhead.com/imgs/xl/elkay-ezh2o-filtered-water-bottle-filling-station-water-fountain-xl.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 650px;
}

.signup {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.signup-column {
  margin-top: 100px;
}

.map {
  padding-top: 20px;
  color: white;
  font-size: 17px;

}

.map-text {
  text-align: center;
}

