.landing-background{
  background: url('/images/landing-background.jpg') no-repeat center center fixed;;
  background-size: cover;
  height: 600px;
}

.landing1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: #222629;
  font-size: 400%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.landing2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: #222629;
  font-size: 350%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}